@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&family=Roboto:wght@300;700&display=swap');

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
q,
b,
u,
i,
ol,
ul,
li,
section,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

ol,
ul {
    list-style: none;
}

body * {
    /* outline: 1px dashed grey; */
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;

}

body {
    background: rgb(161, 221, 204);
    background: linear-gradient(0deg, rgba(161, 221, 204, 0.5009165502793296) 48%, rgba(108, 191, 224, 0.3612517458100558) 74%);
}

.wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 20px;
    max-width: 1200px;
}

/*  profile  */

.profile {
    min-width: 220px;
    margin-right: 10px;
    text-align: center;
    border: 0.5px solid #8d8d8d;
}

.profile_pic {
    height: 250px;
    margin: 15px 10px;
    margin-bottom: 40px;
}

.profile_pic img {
    width: 200px;
    opacity: .85;
    border: 4px solid rgba(255, 255, 255, 0.493);
    border-radius: 6px;
    box-sizing: border-box;
}

.profile_cont {
    height: 250px;
    margin: 20px 10px;
    background-color: #ffffff6a;
    padding: 20px;
}

/* contents */

.contents {
    width: 1000px;
    min-width: 700px;
    padding: 20px;
    border: 0.5px solid #8d8d8d;
}

.contents span {
    font-size: 16px;
    color: #666;
    font-weight: bold;
}

/* about */

.about__major {
    display: flex;
    justify-content: space-around;
    margin: 80px 0;
    text-align: center;
}

.major__icon {
    width: 80px;
    height: 60px;
    font-size: 70px;
    line-height: 10px;
    margin: auto;
    color: rgba(123, 148, 233, 0.63);
    border-radius: 50%;
    margin-bottom: 16px;
}

.major__icon:hover {
    color: rgba(137, 223, 209, 0.822);
    transform: rotate(-30deg) scale(1);
}

.major__icon {
    transition: all 300ms ease;
}

.major__title {
    margin-top: 60px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
    color: #444;
}

.about_cont {
    margin-top: 20px;
    padding: 20px 25px;
    padding-bottom: 30px;
    height: 130px;
    background-color: #ffffff6a;
    color: #333;
    text-shadow: .8px .8px 1px rgb(198, 198, 198);
}


.major__description {
    font-size: 14px;
}

.about_cont h2 {
    margin: 5px 0;
    font-weight: normal;
}

.about_cont span {
    display: inline-block;
    margin-top: 10px;
    font-weight: normal;
    font-size: 13px;
    color: #888;
    line-height: 1.6;
}

.about_skill {
    margin: 40px;
    display: flex;
    justify-content: center;
}

.skill {
    width: 150px;
    height: 150px;
    border: 1px solid #f0f0f0;
    border-radius: 50%;
}

/* skill */

.skills {
    height: 150px;
    margin: 60px 0;
}

.skills_box {
    margin-top: 20px;
    border: 1px solid #f0f0f0;
}

.skills_cont {
    text-align: center;
}

.experience {
    margin: 10px;
    height: 100px;
    border: 1px solid #f0f0f0;
    background-color: #ffffff6a;
}

/* works */

.tabs {
    display: flex;
    margin-top: 20px;
}

.tab {
    margin: 0;
    padding: 10px 50px;
    border: 1px solid #fff;
    cursor: pointer;
    color: #fff;
    text-shadow: 1px 1px 1px #555;
}

.tab:hover {
    background-color: #f0f0f06e;
}

.work_cont {
    padding: 20px;
    display: flex;
    height: 300px;
    background-color: #f0f0f06e;
}

.vid {
    width: 60%;
    margin-right: 20px;
}

.description {
    width: 40%;
    border: 2px solid #fff;
}

/* toyproject */

.toyproject {
    margin-top: 30px;
}

.projects {

    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0;
}

.project {
    position: relative;
    margin: 0;
    width: 300px;
    height: 260px;
    border: 1px solid #f0f0f0;
    background-color: #f0f0f06e;
    text-align: center;
}

.project:nth-child(2) {
    margin: 0 10px;
}

.project span {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(37, 129, 106, 0.13);
    padding: 30px;
    font-weight: bold;
    border-radius: 5px;
    color: #fff;
}


/* top button */
.topbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 30px;
    right: 5%;
    background-color: #f0f0f0;
    border-radius: 50%;
    opacity: .5;
    transition: opacity .3s;
}

.topbtn:hover {
    opacity: .8;
}

.topbtn span {
    position: absolute;
    font-weight: bold;
    color: #666;
    line-height: 50px;
    transform: translate(30%, 0);
    cursor: pointer;
}