@charset "utf-8";
@import url(./reset.css);
@import url(./common.css);

.ibx {
    width: 100vw;
    height: 100vh;
    background: url(../images/main1.jpg) no-repeat top/cover;
}

.main {
    margin-top: 0;
}

.navbar {
    opacity: .6;
    transition: .5s ease-in-out;
}

.footer {
    position: absolute;
    bottom: 0;
}
